table {
  width: 85%;
  margin: 0 auto;
  border: 1px solid #000;
  border-collapse: collapse;
}

td,
th {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #000;
}

.actions {
  display: flex;
  justify-content: space-evenly;
}

.actions button {
  box-sizing: border-box;
  outline: none;
  margin: 6px;
  border: none;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
  /* box-shadow: inset 0px 1px 0px 0px #45d6d6; */
  /* border: 1px solid #27a0a0; */
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  padding: 6px 12px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
}

.editBtn {
  background-color: green;
}

.deleteBtn {
  background-color: red;
}
